body {
    box-sizing: border-box;
    background-color: #99aa99;
}
header {
    text-align: center;
    color: white;
    font-family: fantasy;
  }
#canvas {
    display: grid;
    justify-content: center;
    grid: repeat(8, 10vw) / repeat(8, 10vw);
    padding: 15px;
}
#canvas button {
    height: 100%;
    width: 100%;
    border-radius: 0%;
}

.colors-main {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 10px;
}
#colorSelector {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 58px;
    grid: repeat(4, 50px) / repeat(4, 50px);
}
#colorSelector * {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.show { position: relative; }
.show:hover #colorSelector {
    display: grid;
}
.colors-main-buttons {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    width: 25%;
}

@media screen and (min-width: 750px) {
    #canvas {
        grid: repeat(8, 75px) / repeat(8, 75px);
    }
}
